.rofina a{
    margin: 15px;
    color:olivedrab ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

    
}
a:hover{
    color: beige;
    transform: scale(1);
}
.y{
    background-color: rgb(87, 87, 196);
}
.gr{
    background-color:red;
}
body{
    background-color: navy;
}
.fr{
    color: beige;
}
.fo{
    color: beige;
}

.rofina{
    text-align: center;
    word-spacing: 230px;
}
.rt{
    color: beige;
}
body{
    font-style: italic;
}
;

